 h1{
            background-color:rgb(0, 157, 255);
            color:rgb(25, 0, 255);
        }
        #heading{
            background-color:rgb(255,255,0);
            color:rgb(255, 0, 221);
        }
        *{
             background-color:rgb(0, 255, 229);
        }
        #td1{
            background-color:rgb(255,0,0);
        }
        .tables{
             background-color:rgb(255,255,255);
        }
        .redcolor{
              background-color:#ff0000;
        }
        .greencolor{
              background-color:#00ff00;
        }
        .yellowcolor{
              background-color:hsl(60,100%,50%);
        }
        .bluecolor{
              background-color:hsl(240,100%,50%);
        }